.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 60% 20%;
}
h2{
    /* text-align: center; */
    /* line-height: 27px; */
    /* margin-left: 50px; */

}
.header{
    background-color: cadetblue;
    grid-column: 1/4;
    text-align: center;
    line-height: 125px;
    font-weight: bolder;
    
}
.main{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 100%;
    width: 100%;
    text-align: center;

   }

      .content{
    display: grid;
    background-color: bisque;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
   }
   .section3{
   background-color: coral;
    border: 1px solid black;
      width: 92%;
    height: 50px;
    grid-column: 1/2;
    grid-row: 2/4;
    line-height: 40px;
   font-weight: bolder;
   text-align: center;
}
   .section2{
    background-color: coral;
    border: 1px solid black;
      width: 92%;
    height: 50px;
    grid-column: 2/3;
    grid-row: 2/4;
    line-height: 40px;
   font-weight: bolder;
   text-align: center;
}
   
   .section1{
    background-color: coral;
    border: 1px solid black;
    width: 97%;
    height: 50px;
    grid-column: 1/3;
    grid-row: 3/4;
    line-height: 40px;
   font-weight: bolder;
   text-align: center;
}
   
   .aside{
    background-color: lightgreen;
    text-align: center;
    line-height: 375px;
    font-weight: bolder;
   }
   .footer{
    background-color: cadetblue;
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:  4fr;
    grid-template-areas: "section4 section5 section6 section7";
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
       text-align: center;
    padding: 10px;
    
   }
   .section4  {
    border: 1px solid black;
    background-color: white;
    grid-area: section4;
    height: 90px;
    width: 250px;
   line-height: 90px;
   font-weight: bolder;
   }
    .section5{
    border: 1px solid black;
    background-color: white;
    grid-area: section5;
    height: 90px;
    width: 250px;
    line-height: 90px;
    font-weight: bolder;
   } 
   .section6{
    border: 1px solid black;
    background-color: white;
    grid-area: section6;
    height: 90px;
    width: 250px;
    line-height: 90px;
    font-weight: bolder;
}
   .section7{
    border: 1px solid black;
    background-color: white;
    grid-area: section7;
    height: 90px;
    width: 250px;
    line-height: 90px;
    font-weight: bolder;
   }